/* --------- ELEMENTOS --------- */

body {
    background-color: rgb(59, 91, 219);
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

/* --------- CLASSES --------- */

.container {
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    padding: 60px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
}

.plano-nome {
    font-weight: bold;
    color: black;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.plano-valor {
    color: rgb(59, 91, 219);
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.plano-descricao {
    color: grey;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.plano-comprar {
    background-color: rgb(59, 91, 219);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    border-radius: 6px;
}