:root{
    --azul-escuro: #264653;
    --azul-hover: #335d6e;
    --azul-claro: #2a9d8f;
    --amarelo: #e9c46a;
    --laranja-claro: #f4a261;
    --laranja: #e76f51;
    --laranja-hover: #df4119;
    --texto: white;


    --altura-menu: 80px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    background-color: gray;
    width: 100vw;
    height: 100vh;
}

#menu {
    height: var(--altura-menu);
    background-color: var(--laranja);
}

#menu ul{
    display: flex;
}

#menu li {
    list-style: none;
}

#menu a{
    display: inline-block;
    padding: 25px 15px;
    height: var(--altura-menu);
    text-decoration: none;
    color: var(--texto);
    font-family: Lilita One;
    transition: 0.3s;
}

#menu a:hover {
    background-color: var(--laranja-hover);
}

#principal {
    height: calc(100vh - var(--altura-menu));
    background-color: var(--laranja-claro);
    font-family: "Rowdies";
    color: var(--texto);
}

#secao2 {
    background-color: var(--amarelo);
    height: 100vh;
    font-family: "Rowdies";
    color: var(--texto);
}

#secao3 {
    background-color: var(--azul-claro);
    height: 100vh;
    font-family: "Rowdies";
    color: var(--texto);
}

#contatos {
    background-color: var(--azul-escuro);
    height: 150px;
    font-family: "Rowdies";
    color: var(--texto);
}

.contatos a {
    color: var(--texto);
}

h3{
    text-align: center;
    font-size: 25px;
}

a {
    color: var(--texto);
}

.tigre {
    height: 200px;
    width: 300px;
    margin: 15px;
}

.tubarao {
    height: 200px;
    width: 300px;
    margin: 15px;
}