.cabecalho {
    font-size: 0.8em;
    text-align: center;
}

.titulo{
    text-transform: uppercase;
    text-align: center;

    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.versiculo {
    font-size: 1.3em;
    text-align: center;

    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}

.texto {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.importante {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    color: rgb(5, 168, 5);
}

.desafio {
    font-style: italic;
    text-align: center;
    background-color: rgb(184, 184, 184);
    border: 1px solid rgb(184, 184, 184);;

    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}