.cabecalho {
    font-size: 0.8em;
    text-align: center;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
}

.versiculo {
    font-size: 1.3em;
    text-align: center;
}

.texto {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
}

.importante {
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.desafio {
    font-style: italic;
    text-align: center;
}